{% extends 'base.html' %}

{% block title %}-Trek Destinations{% endblock %}

{% block content %}

<div class="innercontainer">
    <div class="search-bar">
        <i class="bi bi-search fs-4"></i>
        <input type="text"  class="fs-5" placeholder="Search">
        {% if session['email'] %}
        <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#addTrek">
          Add Trek
        </button>
        {% endif %}
    </div>
    <div class="treks">
        {% for row in resp %}
        <div class="card" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ url_for('static',filename='images/treks_images/card-image.jpg')}}" class="img-fluid rounded-start img-thumbnail" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body text-nowrap">
                  <h2 class="card-title"><a href="/trek/{{row.0}}">{{row.1}}</a></h2>
                  <p class="card-text mb-1">Total Days : {{row.2}}</p>
                  <p class="card-text mb-1">Difficulty : {{row.3}}</p>
                  <p class="card-text mb-1">Total Cost : Rs {{row.4}}</p>
                  <p class="card-text mb-1">Upvotes : {{row.5}}</p>
                  <p class="card-text mb-1"><small class="text-muted">Added by {{row.6}} {{row.7}}</small></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>


<!-- Add Trek Modal  -->
<div class="modal fade" id="addTrek" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel"><span>A</span>dd Trek Now...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- form  -->
          <form action="/addTrek" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" id="exampleInputEmail1" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Days</label>
              <input type="number" class="form-control" name="days" id="exampleInputEmail1" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Difficulty</label>
              <input type="text" class="form-control" name="difficulty" id="exampleInputEmail1"  placeholder="Level 0" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Total Cost</label>
              <input type="number" class="form-control" name="total_cost" id="exampleInputEmail1" required>
            </div>

            <button type="submit" class="btn btn-lg">Add Destination</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}